body {
    background-color: #eeeeee;
}

.stacks {
    max-width: 900px;
    margin: 200px auto 0;
}

.stacks > .column {
    width: 33.333333%;
    float: left;
}

.stack {
    position: relative;
    height: 250px;
    background-color: #fbfbfb;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.stack:after {
    position: absolute;
    content: '';
    display: block;
    background-color: #2F9682;
    width: 6px;
    left: 50%;
    top: 15px;
    bottom: 0;
    border-radius: 3px 3px 0 0;
    z-index: 1;
    transform: translateX(-50%);
}

.stack > .brick {
    height: 20px;
    border-radius: 3px;
    margin: auto;
    background-image: linear-gradient(rgb(28, 203, 169), #1EB597);
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.stack > .brick:nth-of-type(1) {
    bottom: 0;
}

.stack > .brick:nth-of-type(2) {
    bottom: 25px;
}

.stack > .brick:nth-of-type(3) {
    bottom: 50px;
}

.stack > .brick:nth-of-type(4) {
    bottom: 75px;
}

.stack > .brick:nth-of-type(5) {
    bottom: 100px;
}

.brick[data-value="4"] {
    width: 200px;
}

.brick[data-value="3"] {
    width: 160px;
}

.brick[data-value="2"] {
    width: 120px;
}

.brick[data-value="1"] {
    width: 80px;
}

.brick[data-value="0"] {
    width: 40px;
}

.brick,
.active {
    transition: all .3s ease;
}

.active {

    box-shadow: 0 0 15px tomato;
}